.container
{
	padding-left: 100px;
	padding-right: 100px;
}
.score input
{
	border: 0;
	margin: 0 !important;
}
.table-score > thead > tr
{
	background-color: rgba(44,62,80, 1);
	color: white;

}

body
{
	padding-left: 150px !important;
}
td:first-child
{
	width: 200px;
}