body
{
	padding-top: 50px;
}

.nav > #register
{
	background-color: #18bc9c !important;

}

#register-a:hover, .nav > #register:hover, .nav > #register:focus, #register-a:focus
{
	text-decoration: underline;
	color: white !important;
	background-color: rgba(24, 188, 156, 0.5) !important;
}


/* REGISTRATION TABLE CUSTOMIZATIONS*/
.table-register input 
{
    display: block !important;
    padding: 10 !important;
    margin: 0 !important; 
    border: 0 !important; 
    width: 100% !important; 
    border-radius: 0 !important; 
    line-height: 1 !important;
    background-color: transparent !important;
}

.table-register td 
{
    margin: 0 !important; 
    padding: 0 !important;
}

.table-register > thead > tr
{
    background-color: rgba(44,62,80, 1);
    color: white;

}

.table-register > tbody > tr > td > select
{
    background-color: transparent !important;
    border: 0 !important;
}

.table-register >tbody > tr:hover
{
    background-color: rgba(44,62,80, 0.3);
}

/*.table-register > tbody > tr > td > .form-control:hover,
.table-register > tbody > tr > td > .form-control:focus,
.table-register > tbody > tr > td > input:hover
.table-register > tbody > tr:hover,
.table-register > tbody > tr:focus
{
    color: white !important;
}*/

/* END OF REGISTRATION TABLE CUSTOMIZATIONSS */

